* {
  margin: 0;
  padding: 0;
}

/*base*/
* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

/*Colores*/
@keyframes Opacity {
  0% {
    opacity: 0%;
  }
  20% {
    opacity: 20%;
  }
  40% {
    opacity: 40%;
  }
  60% {
    opacity: 60%;
  }
  80% {
    opacity: 80%;
  }
  100% {
    opacity: 100%;
  }
}
/*Media Querys*/
@media only screen and (min-width: 961px) {
  body .anchor {
    display: block;
    height: 89.86px;
    margin-top: -89.86px;
    visibility: hidden;
  }
  body header .ham-container {
    display: none;
  }
  body header .ham-container .ham-nav {
    display: none;
  }
  body header .ham-container .ham-nav .navbar, body header .ham-container .ham-nav .navbar-expand-lg, body header .ham-container .ham-nav .navbar-light {
    display: none;
  }
  body .all-but-header .redes-container-ft {
    display: none;
  }
  body .all-but-header .redes-container-ft .redes-list-ft {
    display: none;
  }
  body .all-but-header .redes-container-ft .redes-list-ft .redes-item-ft {
    display: none;
  }
  body .all-but-header .redes-container-ft .redes-list-ft .redes-item-ft a {
    display: none;
  }
  body .all-but-header .redes-container-ft .redes-list-ft .redes-item-ft a .redes-logo-ft {
    display: none;
  }
}
@media only screen and (min-width: 401px) and (max-width: 960px) {
  html {
    font-size: 12px;
  }

  body {
    font-size: 60%;
  }

  .anchor {
    display: block;
    height: 66.64px;
    margin-top: -66.64px;
    visibility: hidden;
  }

  header .logo-container {
    width: 0;
  }
  header .logo-container .logo {
    display: none;
    width: 0;
  }
  header .nav-container {
    display: none;
  }
  header .nav-container .nav-table {
    display: none;
  }
  header .redes-container {
    display: none;
  }
  header .redes-container .redes-list {
    display: none;
  }
  header .redes-container .redes-list .redes-item {
    display: none;
  }
  header .redes-container .redes-list .redes-item a {
    display: none;
  }
  header .redes-container .redes-list .redes-item a .redes-logo {
    display: none;
  }

  .ham-container {
    width: 100%;
  }
  .ham-container .ham-nav .navbar {
    padding: 0;
    background-color: #F2F2F2;
  }
  .ham-container .ham-nav .navbar .container-fluid {
    padding: 0;
  }
  .ham-container .ham-nav .navbar .container-fluid .navbar-brand {
    padding: 0;
    margin: 0;
  }
  .ham-container .ham-nav .navbar .container-fluid .navbar-brand .logo {
    padding: 1.5rem 0 1.5rem 1.5rem;
  }
  .ham-container .ham-nav .navbar .container-fluid .navbar-toggler {
    margin-right: 1.5rem;
  }
  .ham-container .ham-nav .navbar .container-fluid .navbar-collapse .navbar-nav {
    text-align: center;
  }
  .ham-container .ham-nav .navbar .container-fluid .navbar-collapse .navbar-nav .nav-item {
    font-family: "Oswald", sans-serif;
    font-weight: 300;
    font-size: 2rem;
    color: #221F1C;
    border-top: 1px solid #c4c4c4;
  }

  body .all-but-header .banner-container {
    height: 25vw;
  }
  body .all-but-header .banner-container .frase-banner {
    display: inline;
    font-family: "Oswald", sans-serif;
    font-weight: 500;
    font-size: 6vw;
  }
  body .all-but-header .productos-h2-c .productos-h2 {
    font-family: "Oswald", sans-serif;
    font-weight: 400;
    font-size: 5.5vw;
  }
  body .all-but-header .multi-titulo-c .multi-titulo {
    font-family: "Oswald", sans-serif;
    font-weight: 400;
    font-size: 4.5vw;
  }
  body .all-but-header .multi-container {
    display: flex;
    flex-direction: column;
  }
  body .all-but-header .multi-container .variante-container .variante-titulo {
    font-family: "Oswald", sans-serif;
    font-weight: 300;
    font-size: 4vw;
  }
  body .all-but-header .multi-container .variante-container .texto-desc-1 {
    color: #221F1C;
    text-align: center;
  }
  body .all-but-header .multi-container .variante-container .texto-desc-2 {
    color: #F2F2F2;
    text-align: center;
  }
  body .all-but-header .valores-container {
    display: block;
  }
  body .all-but-header .valores-container .titulo-valores {
    display: flex;
    font-family: "Oswald", sans-serif;
    font-weight: 400;
    font-size: 4.5vw;
  }
  body .all-but-header .valores-container .valores {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0 0 6rem 0;
  }
  body .all-but-header .valores-container .valores .valor {
    width: 40%;
    margin: 2.5vh 2.5vw;
  }
  body .all-but-header .valores-container .valores .valor .img-valor {
    max-width: 25%;
  }
  body .all-but-header .valores-container .valores .valor .desc-valor {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 0.9rem;
  }
  body .all-but-header .divisor {
    box-shadow: inset 0 10px 15px rgba(34, 31, 28, 0.4), inset 0 -10px 15px rgba(34, 31, 28, 0.4);
  }
  body .all-but-header .nosotros-container {
    display: block;
  }
  body .all-but-header .nosotros-container .text-container {
    text-align: center;
  }
  body .all-but-header .nosotros-container .text-container .nosotros-text .h3-nosotros {
    font-family: "Oswald", sans-serif;
    font-weight: 500;
    font-size: 4vw;
  }
  body .all-but-header .nosotros-container .text-container .nosotros-text .h5-nosotros {
    padding: 1vw 0;
    font-family: "Oswald", sans-serif;
    font-weight: 400;
    font-size: 3.5vw;
  }
  body .all-but-header .nosotros-container .text-container .nosotros-text .p-nosotros {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 3vw;
  }
  body .all-but-header .contacto-container {
    box-shadow: inset 0 10px 15px rgba(34, 31, 28, 0.4), inset 0 -10px 15px rgba(34, 31, 28, 0.4);
  }
  body .all-but-header .footer-container {
    display: block;
    align-items: center;
    text-align: center;
  }
  body .all-but-header .footer-container .noticias-container {
    width: 100%;
    align-items: center;
  }
  body .all-but-header .footer-container .noticias-container .noticias-titulo {
    padding: 2rem 0;
    margin: 0;
  }
  body .all-but-header .footer-container .noticias-container .noticias-form {
    padding: 0;
  }
  body .all-but-header .footer-container .noticias-container .noticias-form .noticias-input {
    text-align: center;
  }
  body .all-but-header .footer-container .noticias-container .noticias-parrafo {
    width: 100%;
    padding: 1rem 5rem 1rem 5rem;
    text-align: center;
    margin: 0;
    font-size: 1rem;
  }
  body .all-but-header .footer-container .iso-container {
    display: flex;
    justify-content: center;
    width: 100%;
    text-align: center;
  }
  body .all-but-header .footer-container .iso-container .iso {
    margin: 1.5rem;
  }
  body .all-but-header .footer-container .redes-container-ft {
    padding: 0 0 1rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
  body .all-but-header .footer-container .redes-container-ft .redes-list-ft {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
  }
  body .all-but-header .footer-container .redes-container-ft .redes-list-ft .redes-item-ft {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  body .all-but-header .footer-container .redes-container-ft .redes-list-ft .redes-item-ft a {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  body .all-but-header .footer-container .redes-container-ft .redes-list-ft .redes-item-ft a .redes-logo-ft {
    display: flex;
    z-index: 5;
    max-width: 2.5rem;
    margin: 0 1rem 0 1rem;
  }
}
@media only screen and (max-width: 400px) {
  html {
    font-size: 12px;
  }

  body {
    font-size: 60%;
  }

  .anchor {
    display: block;
    height: 66.64px;
    margin-top: -66.64px;
    visibility: hidden;
  }

  header .logo-container {
    width: 0;
  }
  header .logo-container .logo {
    display: none;
    width: 0;
  }
  header .nav-container {
    display: none;
  }
  header .nav-container .nav-table {
    display: none;
  }
  header .redes-container {
    display: none;
  }
  header .redes-container .redes-list {
    display: none;
  }
  header .redes-container .redes-list .redes-item {
    display: none;
  }
  header .redes-container .redes-list .redes-item a {
    display: none;
  }
  header .redes-container .redes-list .redes-item a .redes-logo {
    display: none;
  }

  .ham-container {
    width: 100%;
  }
  .ham-container .ham-nav .navbar {
    padding: 0;
    background-color: #F2F2F2;
  }
  .ham-container .ham-nav .navbar .container-fluid {
    padding: 0;
  }
  .ham-container .ham-nav .navbar .container-fluid .navbar-brand {
    padding: 0;
    margin: 0;
  }
  .ham-container .ham-nav .navbar .container-fluid .navbar-brand .logo {
    padding: 1.5rem 0 1.5rem 1.5rem;
  }
  .ham-container .ham-nav .navbar .container-fluid .navbar-toggler {
    margin-right: 1.5rem;
  }
  .ham-container .ham-nav .navbar .container-fluid .navbar-collapse .navbar-nav {
    text-align: center;
  }
  .ham-container .ham-nav .navbar .container-fluid .navbar-collapse .navbar-nav .nav-item {
    font-family: "Oswald", sans-serif;
    font-weight: 300;
    font-size: 2rem;
    color: #221F1C;
    border-top: 1px solid #c4c4c4;
  }

  body .all-but-header .banner-container {
    height: 50vw;
  }
  body .all-but-header .banner-container .frase-banner {
    display: inline;
    font-family: "Oswald", sans-serif;
    font-weight: 500;
    font-size: 10vw;
  }
  body .all-but-header .productos-h2-c .productos-h2 {
    font-family: "Oswald", sans-serif;
    font-weight: 400;
    font-size: 2.5rem;
  }
  body .all-but-header .multi-titulo-c .multi-titulo {
    font-family: "Oswald", sans-serif;
    font-weight: 400;
    font-size: 2rem;
  }
  body .all-but-header .multi-container {
    display: flex;
    flex-direction: column;
  }
  body .all-but-header .multi-container .variante-container .variante-titulo {
    font-family: "Oswald", sans-serif;
    font-weight: 300;
    font-size: 2rem;
  }
  body .all-but-header .multi-container .variante-container .texto-desc-1 {
    color: #221F1C;
    text-align: center;
  }
  body .all-but-header .multi-container .variante-container .texto-desc-2 {
    color: #F2F2F2;
    text-align: center;
  }
  body .all-but-header .valores-container {
    display: block;
    background-color: #F2F2F2;
  }
  body .all-but-header .valores-container .titulo-valores {
    display: flex;
    font-family: "Oswald", sans-serif;
    font-weight: 400;
    font-size: 2.5rem;
  }
  body .all-but-header .valores-container .valores {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0;
    margin: 0;
  }
  body .all-but-header .valores-container .valores .valor {
    width: 70%;
    margin: 0 3rem 4rem 3rem;
  }
  body .all-but-header .valores-container .valores .valor .img-valor {
    max-width: 3rem;
  }
  body .all-but-header .divisor {
    box-shadow: inset 0 5px 7px rgba(34, 31, 28, 0.4), inset 0 -5px 7px rgba(34, 31, 28, 0.4);
  }
  body .all-but-header .nosotros-container {
    display: block;
  }
  body .all-but-header .nosotros-container .text-container {
    text-align: center;
  }
  body .all-but-header .nosotros-container .text-container .nosotros-text .h3-nosotros {
    font-family: "Oswald", sans-serif;
    font-weight: 500;
    font-size: 2.5rem;
  }
  body .all-but-header .nosotros-container .text-container .nosotros-text .h5-nosotros {
    padding: 0.8rem 0;
    font-family: "Oswald", sans-serif;
    font-weight: 400;
    font-size: 2rem;
  }
  body .all-but-header .nosotros-container .text-container .nosotros-text .p-nosotros {
    padding: 1rem 0 0 0;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 1.4rem;
  }
  body .all-but-header .contacto-container {
    box-shadow: inset 0 5px 7px rgba(34, 31, 28, 0.4), inset 0 -5px 7px rgba(34, 31, 28, 0.4);
  }
  body .all-but-header .footer-container {
    display: block;
    align-items: center;
    text-align: center;
  }
  body .all-but-header .footer-container .noticias-container {
    width: 100%;
    align-items: center;
  }
  body .all-but-header .footer-container .noticias-container .noticias-titulo {
    padding: 1.5rem 0;
    margin: 0;
  }
  body .all-but-header .footer-container .noticias-container .noticias-titulo .h3-noticias {
    font-family: "Oswald", sans-serif;
    font-weight: 300;
    font-size: 2.5rem;
  }
  body .all-but-header .footer-container .noticias-container .noticias-form {
    padding: 0;
  }
  body .all-but-header .footer-container .noticias-container .noticias-form .noticias-input {
    text-align: center;
  }
  body .all-but-header .footer-container .noticias-container .noticias-parrafo {
    width: 100%;
    padding: 0 5rem 1rem 5rem;
    text-align: center;
    margin: 0;
  }
  body .all-but-header .footer-container .iso-container {
    display: flex;
    justify-content: center;
    width: 100%;
    text-align: center;
  }
  body .all-but-header .footer-container .iso-container .iso {
    margin: 1rem;
    padding: 1rem 0 0 0;
  }
  body .all-but-header .footer-container .redes-container-ft {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 0.2rem 0 3rem 0;
  }
  body .all-but-header .footer-container .redes-container-ft .redes-list-ft {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
  }
  body .all-but-header .footer-container .redes-container-ft .redes-list-ft .redes-item-ft {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  body .all-but-header .footer-container .redes-container-ft .redes-list-ft .redes-item-ft a {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  body .all-but-header .footer-container .redes-container-ft .redes-list-ft .redes-item-ft a .redes-logo-ft {
    display: flex;
    z-index: 5;
    max-width: 2.5rem;
    margin: 0 1rem 0 1rem;
  }
}
/*Componentes*/
/*Header*/
header {
  display: flex;
  width: 100%;
  background-color: #F2F2F2;
  position: fixed;
  z-index: 80;
  box-shadow: 0 5px 10px rgba(34, 31, 28, 0.2);
  border-bottom: 1px solid #F2F2F2;
}

/*Logo*/
.logo-container {
  display: flex;
  justify-content: left;
  width: 25%;
}

.logo {
  max-width: 12rem;
  padding: 1.5rem 0 1.5rem 1.5rem;
  animation-name: Opacity;
  animation-duration: 0.8s;
}

/*Navegador*/
.nav-container {
  width: 50%;
  height: 4rem;
}
.nav-container .nav-list {
  padding: 2rem 0;
  text-align: center;
}
.nav-container .nav-list .list-item {
  display: inline;
}
.nav-container .nav-list .list-item .nav-button {
  text-decoration: none;
  padding: 0.5rem;
  margin: 0 0.5rem;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 1.2rem;
  color: #221F1C;
}
.nav-container .nav-list .list-item .nav-button:hover {
  color: #F2F2F2;
  background-color: #701F21;
  border-radius: 0.5rem;
}

/*Redes*/
.redes-container {
  display: flex;
  justify-content: flex-end;
  width: 25%;
}
.redes-container .redes-list {
  display: flex;
}
.redes-container .redes-list .redes-item {
  display: flex;
}
.redes-container .redes-list .redes-item .redes-logo {
  position: relative;
  top: 1.6rem;
  align-items: center;
  display: flex;
  z-index: 5;
  max-width: 2.5rem;
  margin: 0 1rem 0 1rem;
}
.redes-container .redes-list .redes-item .redes-logo:hover {
  transform: scale(1.2);
  -o-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -webkit-transform: scale(1.2);
}

/* Ham Nav */
.all-but-header {
  position: relative;
  top: 5rem;
}
.all-but-header .banner-container {
  position: relative;
  text-align: center;
  color: #F2F2F2;
  width: 100%;
  height: 350px;
  background-color: rgba(34, 31, 28, 0.4);
  box-shadow: inset 0 15px 20px rgba(34, 31, 28, 0.4), inset 0 -15px 20px rgba(34, 31, 28, 0.4);
}
.all-but-header .banner-container .frase-banner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  font-family: "Oswald", sans-serif;
  font-weight: 700;
  font-size: 4rem;
}

.productos-h2-c {
  text-align: center;
}
.productos-h2-c .productos-h2 {
  padding: 3rem 0;
  margin: 0;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 2.5rem;
  color: #221F1C;
  background-color: #F2F2F2;
}

.multi-titulo-c {
  display: block;
  text-align: center;
}
.multi-titulo-c .multi-titulo {
  padding: 1.5rem 0;
  margin: 0;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 2.5rem;
  color: #F2F2F2;
  background-color: #701F21;
}

.multi-container {
  display: flex;
}
.multi-container .variante-container {
  display: flex;
  flex-direction: column;
  padding: 2rem 0 3rem 0;
}
.multi-container .variante-container .variante-titulo {
  margin: 1rem 0 2rem 0;
  display: flex;
  justify-content: center;
  text-align: center;
  font-family: "Oswald", sans-serif;
  font-weight: 300;
  font-size: 2.2rem;
}
.multi-container .variante-container .h4-1 {
  color: #F2F2F2;
}
.multi-container .variante-container .h4-2 {
  color: #221F1C;
}
.multi-container .variante-container .img-container .img-variante {
  max-width: 100%;
  padding: 0 3rem;
}
.multi-container .variante-container .collapsing .card {
  display: flex;
  background-color: #F2F2F2;
}
.multi-container .variante-container .collapsing .card .texto-producto {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.multi-container .variante-container .collapsing .card .texto-producto .variante-desc {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 1rem;
  width: 50%;
  padding: 0 0 0 1rem;
}
.multi-container .variante-container .collapsing .card .texto-producto .variante-desc .texto-desc-1 {
  color: #221F1C;
  text-align: left;
}
.multi-container .variante-container .collapsing .card .texto-producto .variante-desc .texto-desc-2 {
  color: #221F1C;
  text-align: right;
}
.multi-container .variante-container .collapsing .card .variante-info {
  width: 50%;
  text-align: left;
  list-style: none;
  display: flex;
  flex-direction: column;
  padding: 4rem 1rem 4rem 2rem;
  margin: 0;
}
.multi-container .variante-container .collapsing .card .variante-info .info-container {
  padding: 0.5rem 0.5rem 0.5rem 1rem;
  margin: 0;
  border-left: 5px solid #701F21;
}
.multi-container .variante-container .collapsing .card .btn-info {
  background-color: #F2F2F2;
  color: #701F21;
  border: 1.5px solid #701F21;
  font-family: "Oswald", sans-serif;
  font-weight: 300;
  font-size: 1rem;
}
.multi-container .variante-container .collapsing .card .btn-info:hover, .multi-container .variante-container .collapsing .card .btn-info:focus, .multi-container .variante-container .collapsing .card .btn-info:active {
  background-color: #701F21;
  color: #FFF;
  border-color: #701F21;
  box-shadow: -1px 1px 5px #F2F2F2, 1px -1px 5px #F2F2F2;
}
.multi-container .variante-container .collapse-container {
  text-align: center;
  padding: 2rem 0 0 0;
}
.multi-container .variante-container .collapse-container .btn-primary {
  width: 6rem;
  background-color: #701F21;
  color: #F2F2F2;
  border-color: #701F21;
  font-family: "Oswald", sans-serif;
  font-weight: 300;
  font-size: 1rem;
}
.multi-container .variante-container .collapse-container .btn-primary:hover, .multi-container .variante-container .collapse-container .btn-primary:focus, .multi-container .variante-container .collapse-container .btn-primary:active {
  background-color: #701F21;
  color: #FFF;
  border-color: #701F21;
  box-shadow: -1px 1px 5px #F2F2F2, 1px -1px 5px #F2F2F2;
}
.multi-container .variante-container .collapse-container .collapse .card {
  display: flex;
  background-color: #F2F2F2;
}
.multi-container .variante-container .collapse-container .collapse .card .texto-producto {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.multi-container .variante-container .collapse-container .collapse .card .texto-producto .variante-desc {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 1rem;
  width: 50%;
  padding: 0 0 0 1rem;
}
.multi-container .variante-container .collapse-container .collapse .card .texto-producto .variante-desc .texto-desc-1 {
  color: #221F1C;
  text-align: left;
}
.multi-container .variante-container .collapse-container .collapse .card .texto-producto .variante-desc .texto-desc-2 {
  color: #221F1C;
  text-align: right;
}
.multi-container .variante-container .collapse-container .collapse .card .variante-info {
  width: 50%;
  text-align: left;
  list-style: none;
  display: flex;
  flex-direction: column;
  padding: 4rem 1rem 4rem 2rem;
  margin: 0;
}
.multi-container .variante-container .collapse-container .collapse .card .variante-info .info-container {
  padding: 0.5rem 0.5rem 0.5rem 1rem;
  margin: 0;
  border-left: 5px solid #701F21;
}
.multi-container .variante-container .collapse-container .collapse .card .btn-info {
  background-color: #F2F2F2;
  color: #701F21;
  border: 1.5px solid #701F21;
  font-family: "Oswald", sans-serif;
  font-weight: 300;
  font-size: 1rem;
}
.multi-container .variante-container .collapse-container .collapse .card .btn-info:hover, .multi-container .variante-container .collapse-container .collapse .card .btn-info:focus, .multi-container .variante-container .collapse-container .collapse .card .btn-info:active {
  background-color: #701F21;
  color: #FFF;
  border-color: #701F21;
  box-shadow: -1px 1px 5px #F2F2F2, 1px -1px 5px #F2F2F2;
}
.multi-container .variante-container .collapse-container .collapse .card .btn-info .modal .modal-content .modal-header {
  background-color: #221F1C;
}
.multi-container .variante-1 {
  background-image: url(../Images/Productos/bariloche3.jpg);
  background-color: #221F1C;
  background-size: cover;
}
.multi-container .variante-2 {
  background-image: url(../Images/Productos/fitzroy3.jpg);
  background-color: #F2F2F2;
  background-size: cover;
}

.div-product {
  height: 2rem;
  background-color: #F2F2F2;
}

/*Valores*/
.valores-container {
  display: block;
}
.valores-container .titulo-valores {
  display: flex;
  justify-content: center;
  padding: 4rem 0 4rem 0;
  margin: 0;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 2.5rem;
  color: #221F1C;
  background-color: #F2F2F2;
}
.valores-container .valores {
  display: flex;
  padding: 0 0 6rem 0;
  background-color: #F2F2F2;
}
.valores-container .valores .valor {
  width: 30%;
  background-color: #701F21;
  border-radius: 1rem;
  padding: 1rem;
  margin: 0 3rem;
  text-align: center;
}
.valores-container .valores .valor .img-valor {
  padding: 0.3rem 0;
}
.valores-container .valores .valor .titulo-valor {
  padding: 0.5rem 0;
  color: #F2F2F2;
  font-family: "Oswald", sans-serif;
  font-weight: 300;
  font-size: 1.5rem;
  color: #F2F2F2;
}
.valores-container .valores .valor .desc-valor {
  padding: 0 4vw;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 0.8rem;
  color: #F2F2F2;
}

.divisor {
  height: 12vw;
  background-color: rgba(34, 31, 28, 0.4);
  box-shadow: inset 0 15px 20px rgba(34, 31, 28, 0.4), inset 0 -15px 20px rgba(34, 31, 28, 0.4);
}

.nosotros-container {
  display: flex;
}
.nosotros-container .img-container {
  width: auto;
  object-fit: cover;
}
.nosotros-container .img-container .imagen-grupo {
  max-width: 100%;
  object-fit: cover;
}
.nosotros-container .text-container {
  display: flex;
  align-items: center;
  text-align: left;
  background-color: #F2F2F2;
}
.nosotros-container .text-container .nosotros-text {
  padding: 10%;
}
.nosotros-container .text-container .nosotros-text .h3-nosotros {
  font-family: "Oswald", sans-serif;
  font-weight: 500;
  font-size: 2rem;
  color: #221F1C;
}
.nosotros-container .text-container .nosotros-text .h5-nosotros {
  padding: 2rem 0 0 0;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 1.3rem;
  color: #221F1C;
}
.nosotros-container .text-container .nosotros-text .p-nosotros {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  color: #221F1C;
}

.contacto-container {
  display: block;
  padding: 4rem 0;
  /*
  background-color: rgb(242, 242, 242, 0.5);
  */
  background-color: rgba(34, 31, 28, 0.4);
  box-shadow: inset 0 15px 20px rgba(34, 31, 28, 0.4), inset 0 -15px 20px rgba(34, 31, 28, 0.4);
}
.contacto-container .bk-img {
  position: fixed;
  bottom: 0;
  z-index: -70;
}
.contacto-container .titulo-contacto {
  padding: 0 0 2rem 0;
  text-align: center;
}
.contacto-container .titulo-contacto .contacto-h3 {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 3rem;
  color: #F2F2F2;
}
.contacto-container .button-container {
  display: block;
  text-align: center;
  font-family: "Oswald", sans-serif;
  font-weight: 300;
  font-size: 2rem;
  color: #F2F2F2;
}
.contacto-container .button-container .btn-default {
  background-color: #701F21;
  color: #F2F2F2;
  border-color: #701F21;
}
.contacto-container .button-container .btn-default:hover, .contacto-container .button-container .btn-default:focus, .contacto-container .button-container .btn-default:active {
  background-color: #701F21;
  color: #FFF;
  border-color: #701F21;
}
.contacto-container .button-container .mb-3 {
  text-align: left;
}

.footer-container {
  display: flex;
  background-color: #221F1C;
}
.footer-container .noticias-container {
  width: 50%;
}
.footer-container .noticias-container .noticias-titulo {
  padding: 0 0 0 1.5rem;
  margin: 1.5rem 0 0 0;
}
.footer-container .noticias-container .noticias-titulo .h3-noticias {
  margin: 0;
  font-family: "Oswald", sans-serif;
  font-weight: 300;
  font-size: 2rem;
  color: #F2F2F2;
}
.footer-container .noticias-container .noticias-form {
  padding: 0 0 0 1.2rem;
}
.footer-container .noticias-container .noticias-form .noticias-label {
  color: #F2F2F2;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  color: #F2F2F2;
}
.footer-container .noticias-container .noticias-form .noticias-input {
  margin: 0 1rem 0 0.5rem;
  padding: 0.2rem 0 0.2rem 0.5rem;
  width: 70%;
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  font-size: 0.8rem;
  color: #221F1C;
}
.footer-container .noticias-container .noticias-form .boton {
  padding: 0.2rem 0.5rem 0.5rem 0.5rem;
  border-radius: 3px;
  letter-spacing: 1px;
  background-color: #701F21;
  color: #F2F2F2;
  border: 1.5px solid #701F21;
  font-family: "Oswald", sans-serif;
  font-weight: 300;
  font-size: 1rem;
}
.footer-container .noticias-container .noticias-form .boton:hover {
  background-color: #F2F2F2;
  color: #701F21;
  border-color: #701F21;
}
.footer-container .noticias-container .noticias-parrafo {
  color: #F2F2F2;
  padding-left: 1.5rem;
  margin: 1rem 0;
  width: 70%;
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  font-size: 1rem;
  color: #F2F2F2;
}
.footer-container .iso-container {
  display: flex;
  justify-content: flex-end;
  width: 50%;
}
.footer-container .iso-container .iso {
  max-width: 8rem;
  margin: 3rem;
}

.foot-note {
  text-align: center;
  align-items: center;
  background-color: #F2F2F2;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 0.7rem;
  color: #221F1C;
}
.foot-note .note {
  padding: 3px 0 3px 0;
}

/*# sourceMappingURL=style.css.map */
