

@media only screen and (max-width: 400px) {

html {
    font-size: 12px;
}

body {
    font-size: 60%;
}

.anchor {
    display: block;
    height: 66.64px; 
    margin-top: -66.64px; 
    visibility: hidden;
}

header {    

    .logo-container {
        width: 0;

        .logo {
            display: none;
            width: 0;
        }
    }

    .nav-container {
        display: none;

        .nav-table {
            display: none;
        }
    
    }

    .redes-container {
        display: none;

        .redes-list {
            display: none;

            .redes-item {
                display: none;

                a {
                    display: none;

                    .redes-logo {
                        display: none;
                    }
                }
            }
        }
    }
}

.ham-container {
    width: 100%;

    .ham-nav {

        .navbar {
            padding: 0;
            background-color: $blanco-rdm;

            .container-fluid {
                padding: 0;

                .navbar-brand {
                    padding: 0;
                    margin: 0;

                    .logo {
                        padding: 1.5rem 0 1.5rem 1.5rem;
                    }
                }

                .navbar-toggler {
                    margin-right: 1.5rem;

                }

                .navbar-collapse {

                    .navbar-nav {
                        text-align: center;

                        .nav-item {
                            @include oswald-font(300, 2rem);
                            color: $negro-rdm;
                            border-top: 1px solid $gris-rdm;
                        }
                    }
                }
            }
        }
    
    }
    
}

    body {

    .all-but-header {

        .banner-container {
            height: 50vw;

            .frase-banner {
                display: inline;
                @include oswald-font (500, 10vw);
                
            }
        }    

        .productos-h2-c {

            .productos-h2 {
                @include oswald-font (400, 2.5rem);
            }
        }

        .multi-titulo-c {

            .multi-titulo {
                @include oswald-font (400, 2rem);
            }
        }

        .multi-container {
            display: flex;
            flex-direction: column;

            .variante-container {

                .variante-titulo {
                    @include oswald-font (300, 2rem);
                }

                .texto-desc-1 {
                    color: $negro-rdm;
                    text-align: center;
                }
        
                .texto-desc-2 {
                    color: $blanco-rdm;
                    text-align: center;
                }
            }
        }

        .valores-container {
            display: block;
            background-color: $blanco-rdm;
        
            .titulo-valores {
                display: flex;
                @include oswald-font (400, 2.5rem);
            }
        
            .valores {
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                padding: 0;
                margin: 0;
            

                .valor {
                    width: 70%;
                    margin: 0 3rem 4rem 3rem;

                    .img-valor {
                        max-width: 3rem;

                    }
                }
            }
        }

        .divisor {
            box-shadow: inset 0 5px 7px rgba(34, 31, 28, 0.4), inset 0 -5px 7px rgba(34, 31, 28, 0.4);
        }

        .nosotros-container {
            display: block;

            .text-container {
                text-align: center;

                .nosotros-text {

                    .h3-nosotros {
                        @include oswald-font (500, 2.5rem);
                    }

                    .h5-nosotros {
                        padding: 0.8rem 0 ;
                        @include oswald-font (400, 2rem);
                    }

                    .p-nosotros {
                        padding: 1rem 0 0 0;
                        @include opensans-font (400, 1.4rem);
                    }
                }
            }
        }

        .contacto-container {
            box-shadow: inset 0 5px 7px rgba(34, 31, 28, 0.4), inset 0 -5px 7px rgba(34, 31, 28, 0.4);
        }

        .footer-container {

            display: block;
            align-items: center;
            text-align: center;

            .noticias-container {
                width: 100%;
                align-items: center;

                .noticias-titulo {
                    padding: 1.5rem 0;
                    margin: 0;

                    .h3-noticias {
                        @include oswald-font (300, 2.5rem);
                    }
                }

                .noticias-form {
                    padding: 0;

                    .noticias-input {
                        text-align: center;
                    }
                }

                .noticias-parrafo {
                    width: 100%;
                    padding: 0 5rem 1rem 5rem;
                    text-align: center;
                    margin: 0;
                }


            }

            .iso-container {
                display: flex;
                justify-content: center;
                width: 100%;
                text-align: center;

                .iso {
                    margin: 1rem;
                    padding: 1rem 0 0 0;
                }
            }

            .redes-container-ft {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 100%;
                padding: 0.2rem 0 3rem 0;
                
                .redes-list-ft {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    padding: 0;

            
                    .redes-item-ft {
                        display: flex;
                        align-items: center;
                        justify-content: center;

                    
                        a {
                            display: flex;
                            align-items: center;
                            justify-content: center;

                        .redes-logo-ft {

                            display: flex;
                            z-index: 5;
                            max-width: 2.5rem;
                            margin: 0 1rem 0 1rem;
                
                            }
                        
                        }
                    }
                
                }
            }
        }
    }
}

}