
.all-but-header {
    position: relative;
    top: 5rem;

    .banner-container {
        position: relative;
        text-align: center;
        color: $blanco-rdm;
        width: 100%;
        height: 350px;
        background-color: rgb(34, 31, 28, 0.4);
        box-shadow: inset 0 15px 20px rgba(34, 31, 28, 0.4), inset 0 -15px 20px rgba(34, 31, 28, 0.4);

        .frase-banner {
            position: absolute;
            top: 50%;
            left: 50%;
            @include trans-late(-50%, -50%);

            @include oswald-font (700, 4rem);
        }

    }

}