
.contacto-container {
    display: block;
    text-align: center;
    padding: 4rem  0;
    background-image: url(../../Images/Footer/fitz-roy.jpg);
    /*No pude lograr que se muestre la imagen de fondo*/
    background-color: slategray;

    .titulo-contacto {
        padding: 0 0 2rem 0 ;
        @include oswald-font (300, 10rem);
        /*Tampoco se porque no puedo modificar el fontsize*/
        color: $blanco-rdm;
    }

    .button-container {
        display: block;
    }
}