
.contacto-container {
    display: block;
    padding: 4rem  0;
    background-size: 100%;
    background-position: top;

    .bk-img {
        position: fixed;
        bottom: 0;
        z-index: -70;
    }

    .titulo-contacto {
        padding: 0 0 2rem 0 ;
        text-align: center;

        .contacto-h3 {
            @include oswald-font (400, 3rem);
            color: $negro-rdm;
        }
    }


    .button-container {
        display: block;
        text-align: center;

        .btn-default {
            background-color: $rojo-rdm;
            color:$blanco-rdm;
            border-color: $rojo-rdm;
    
            &:hover, &:focus, &:active {
                background-color: $rojo-rdm;
                color:#FFF;
                border-color: $rojo-rdm;
            }
        }

        .mb-3 {
            text-align:left;
        }
    }

}
